<div class="h-screen flex flex-col justify-between text-center py-8">
    <section>
        <h1 class="uppercase text-2xl font-normal my-4">Staft</h1>
        <p class="font-light">Bringing people together, better</p>
    </section>
    <section>
        <a class="inline-block rounded bg-primary text-newwhite uppercase font-thin text-sm py-2 px-8 my-4" href="#">Create an organization</a>
        <small class="block"><a class="underline" href="/users/login">Log in</a></small>
    </section>
</div>