<div class="h-screen flex flex-col">

    <% if (error != '') { %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline"><%= error %></span>
    </div>
    <% } %>
    <% if (success_msg != '') { %>
    <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline"><%= success_msg %></span>
    </div>
    <% } %>
    <% if (error_msg != '') { %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        <span class="block sm:inline"><%= error_msg %></span>
    </div>
    <% } %>

    <section class="pt-6 pb-3">
        <img class="block mx-auto h-img" src="/images/A_WebVersion.png" alt="staft logo">
        <h6 class="text-center text-sm font-light uppercase">Staft</h6>
    </section>
    <section class="rounded-lg shadow-top p-6 text-center flex-1">
        <h2 class="text-secondary text-3xl font-normal mb-px tracking-tight">Welcome,</h2>
        <p class="text-secondary text-base font-normal mb-6">Please login to continue.</p>
        <form action="/users/login" method="POST">
            <input class="form-input placeholder-primary rounded-t-md" type="email" name="email" id="email" placeholder="Email">
            <input class="form-input placeholder-primary rounded-b-md" type="password" name="password" id="password" placeholder="Password">
            <button class="bg-secondary w-full my-4 mx-auto py-4 px-0 text-newwhite text-base border-0 rounded" type="submit">Sign In</button>
        </form>
        <p class="mb-4 mx-0">
            <a href="/users/forgot">Forgot Password?</a>
        </p>
        <small>
            <a href="/users/register">Create an Account</a>
        </small>
    </section>
</div>