<div class="login-wrapper">

    <% if (error != '') { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>
    <% if (success_msg != '') { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= success_msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>

    <section id="display-img">
        <i class="far fa-handshake"></i>
        <h6>Staffing App</h6>
    </section>
    <section class="content">
        <h2>Welcome</h2>
        <p>Please login to continue.</p>
        <form action="/users/login" method="POST">
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Password">
            <button type="submit">Sign In</button>
        </form>
        <p id="forgot">
            <a href="/users/forgot">Forgot Password?</a>
        </p>
        <small>
            <a href="/users/register">Create an Account</a>
        </small>
    </section>
</div>