* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

a:visited {
    color: #333;
}

a:hover {
    cursor: pointer;
}

/* login styles */
.login-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.login-wrapper #display-img {
    width: 75%;
    margin: 2rem auto;
    text-align: center;
}

.login-wrapper i.fa-handshake {
    font-size: 8rem;
    color: rgb(18, 124, 3);
}

.login-wrapper h6 {
    font-size: 0.9rem;
    font-weight: 100;
    text-transform: uppercase;
}

.login-wrapper .content {
    border-radius: 15px;
    --webkit-box-shadow: 0 -5px 20px 0 rgba(26, 11, 56, 0.15);
    -moz-box-shadow: 0 -5px 20px 0 rgba(26, 11, 56, 0.15);
    box-shadow: 0 -5px 20px 0 rgba(26, 11, 56, 0.15);
    padding: 2rem;
    text-align: center;
    flex: 1;
}

.login-wrapper h2 {
    color: rgb(78, 31, 167);
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2px;
}

.login-wrapper h2::after {
    content: ',';
}

.login-wrapper .content p {
    color: rgb(71, 92, 152);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.login-wrapper input {
    display: block;
    background: rgb(232, 237, 250);
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 1rem 0;
    color: rgb(70, 91, 151);
    font-size: 1rem;
    outline: none;
    border: 1px solid #bbc5e3;
}

.login-wrapper input#email {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.login-wrapper input#password {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login-wrapper button[type="submit"] {
    background: rgb(94, 46, 186);
    width: 80%;
    margin: 10px auto;
    padding: 1rem 0;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.login-wrapper button[type="submit"]:hover {
    cursor: pointer;
}

.login-wrapper #forgot {
    margin: 12px 0;
}

/* registration styles */
.register-wrapper {
    height: 100vh;
    padding: 1rem;
}

.register-wrapper .content-wrapper  {
    height: 95%;
    display: flex;
    flex-direction: column;
    --webkit-box-shadow: 0 0 20px 5px rgba(26, 11, 56, 0.1);
    -moz-box-shadow: 0 0 20px 5px rgba(26, 11, 56, 0.1);
    box-shadow: 0 0 20px 5px rgba(26, 11, 56, 0.1);
    border-radius: 5px;
}

.register-wrapper #display {
    background: rgb(253, 210, 40);
    padding: 2rem;
    flex-basis: 45%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.register-wrapper h2 {
    font-size: 2.6rem;
    font-weight: 100;
}

.register-wrapper h2 span {
    font-weight: bold;
}

.register-wrapper .content {
    flex: 1;
}

.register-wrapper form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.register-wrapper input {
    display: block;
    width: 80%;
    margin: 8px auto;
    padding: 0.75rem;
    font-size: 0.9rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.register-wrapper button[type="submit"] {
    background: black;
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    width: 80%;
    margin: 8px auto;
    padding: 0.75rem 0;
    display: block;
    border-radius: 5px;
    border: none;
    outline: none;
}

.register-wrapper button[type="submit"]:hover {
    cursor: pointer;
}

.register-wrapper small {
    display: block;
    text-align: center;
    margin-top: 1rem;
}