.register-wrapper .content-wrapper  {
    --webkit-box-shadow: 0 0 20px 5px rgba(26, 11, 56, 0.1);
    -moz-box-shadow: 0 0 20px 5px rgba(26, 11, 56, 0.1);
    box-shadow: 0 0 20px 5px rgba(26, 11, 56, 0.1);
}

.register-wrapper #display {
    flex-basis: 45%;
}